@media only screen and (min-width: 350px) and (max-width:550px){
    body {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .services {
        padding: 100px 0;
        width: 100%;
        height: 750px;}
    .services2 {
            padding: 100px 0;
            width: 100%;
            height: 750px;}
    .historia {
        padding: 100px 0;
        width: 100%;
        height: 750px;
    }
    .viñedo2 h2{
        padding: 5%;
        margin: 5%;
        font-size: 50%;
    }
    .services-content {
            width: 100%;
            height: 750px;
    }
    .box {
        width: 100%;
        height: auto;

    }
    .contact info {
        width: 100%;
        height: auto;
    }
    .contact map {
        width: 100%;
        height: auto;
    }

    .footer {
        width: 100%;
        height: auto;
    }
}